/*
 *= require jquery.ui.all
 *= require fullcalendar
 */

@import "bootstrap";
@import "bootstrap-responsive";
@import "bootstrap-datetimepicker";
@import "bootstrap-colorpicker";

/* basic look and feel (inspired by nifty_generator) */
html, body {
  /*background-color: #d7d6d1;*/
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

.field_with_errors {
  display: inline;
}

form .field, form .actions {
  margin: 10px 0;
}

form label {
  display: block;
}

table {
  border: 0;
  border-spacing: 0;
}

.row1 td {
  background: #DDDDDD;
}

.row2 td {
  background: #EEEEEE;
}

.warning_messages {
  width: 400px;
  border: 2px solid #CFCF00;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.warning_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #cc0;
  color: #fff;
}

.warning_messages p {
  margin: 8px 10px;
}

.warning_messages ul {
  margin: 0;
}

