/*
 *= require formtastic
 *= require formtastic-bootstrap
 */

/* css for formtastic */
form.formtastic fieldset ol li.string input { width:70%; }
form.formtastic fieldset ol li.password input { width:70%; }
form.formtastic fieldset ol li.numeric input { width:70%; }
form.formtastic fieldset ol li.text textarea { width:70%; }
form.formtastic legend span { font-weight: bold; }
form.formtastic { clear: both; }

/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }


/* For sortable cocoons (see https://github.com/nathanvda/cocoon/pull/104) */
li.cocoon {
  & > label {
    display: block !important;
    width: 100% !important;
    float: none !important;
  }

  ol {
    padding: 0 !important;
    width: auto !important;
    float: none !important;
  }

  fieldset {
    padding: 1em !important;
  }

  .links a {
    @extend .button;
  }

  .forms.ui-sortable {
    fieldset {
      border-top: solid #777 12px;
      cursor: move;
    }
  }
}

/* basic look and feel (inspired by nifty_generator) */
html, body {
  background-color: #d7d6d1;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 960px;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

.field_with_errors {
  display: inline;
}

form .field, form .actions {
  margin: 10px 0;
}

form label {
  display: block;
}

#header {
/*  width: 960px; */
  margin: 0 auto;
}

#navigation ul {
  list-style-type:none;
  margin:0;
  padding:0;
  padding-top:6px;
  padding-bottom:6px;
}

#navigation li {
  display:inline;
}

#footer {
  width: 960px;
  margin: 0 auto;
}

table {
  border: 0;
  border-spacing: 0;
}

.row1 td {
  background: #DDDDDD;
}

.row2 td {
  background: #EEEEEE;
}

#navigation-wrap {
  background: #6b6a5f;
  height: 30px;
  margin-bottom: 0px;
}

#navigation {
  position: relative;
  width: 960px;
  margin: 0 auto;
  color: #FFFFFF;
}

#navigation a {
  color: #FFFFFF;
  text-decoration: none;
  padding-top: 6px;
  padding-bottom: 6px;
}

#navigation a:hover {
  background: #FFFFFF;
  color: #000000;
}

#identity-wrap {
  background: #ffffff;
  border-bottom: solid 1px #6b6a5f;
  margin-bottom: 15px;
}

#identity {
  width: 960px;
  margin: 0 auto;
}

#identity h1 {
  font-style: italic;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #6b6a5f
}

.warning_messages {
  width: 400px;
  border: 2px solid #CFCF00;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.warning_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #cc0;
  color: #fff;
}

.warning_messages p {
  margin: 8px 10px;
}

.warning_messages ul {
  margin: 0;
}

