/*
 *= require formtastic
 */

/* css for formtastic */
form.formtastic fieldset ol li.string input { width:70%; }
form.formtastic fieldset ol li.password input { width:70%; }
form.formtastic fieldset ol li.numeric input { width:70%; }
form.formtastic fieldset ol li.text textarea { width:70%; }
form.formtastic legend span { font-weight: bold; font-size: 1.3em; }
form.formtastic { clear: both; }

/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }

